#services {
  margin: 80px;
  .service-card {
    border: 0;
    border-radius: 20px;
    padding: 0px 70px;
    h4 {
      color: var(--orange);
      font-weight: 700;
    }
    h1 {
      margin-bottom: -10px;
      color: var(--primary);
    }
    .category {
      margin: 30px 0;
      .service-inner-card {
        margin: 20px;
        border-radius: 12px;
        border: 0;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        padding: 16px;
        text-align: center;
        background-color: #fafafa;
        .icon {
          padding: 10px 80px;
          h2 {
            background-color: var(--orange);
            border-radius: 20px 20px 50px 50px;
            padding: 28px;
            color: white;
            font-size: 50px;
          }
        }
        &:hover {
          background-color: var(--primary);
          color: white;
          transition: 0.3s linear;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #services {
    margin: 20px 0;
    .service-card {
      padding: 20px;
      .category {
        .service-inner-card {
          margin: 0 !important;
          padding-bottom: 50px;
        }
      }
    }
  }
}
