#portfolio {
  margin: 70px 150px;

  .portfolio-card {
    padding: 40px 0px;
    .resume-heading,
    .portfolio-tabs {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      .btn {
        font-size: 24px;
        font-weight: 700;
        padding: 0 30px;
        border: 0 !important;
        color: blue;
        &:hover {
          color: var(--orange);
          transition: 0.3s;
        }
        &:focus {
          border: 0 !important;
          outline: none !important;
          box-shadow: none !important;
        }
      }
      .active {
        color: var(--orange);
      }
    }
    // .portfolio-brands {
    //   .brands {
    //     border-bottom: 1px solid var(--lightgrey);
    //     &:nth-child(odd) {
    //       border-right: 1px solid var(--lightgrey);
    //     }
    //   }
    // }
  }
  .content {
    position: relative;
  }
  .screen {
    display: block;
    width: 200px;
    height: 250px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    margin: 0px auto;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02);

    img {
      bottom: -310px;
      width: 100%;
      height: 600px;
      position: absolute;
      object-fit: cover !important;
      z-index: 0;
      margin: 0;
      padding: 0;
      -webkit-transition: top 11s;
      -moz-transition: top 11s;
      -ms-transition: top 11s;
      -o-transition: top 11s;
      transition: bottom 11s;
    }
    &:hover img {
      bottom: 0px;
      -webkit-transition: all 11s;
      -moz-transition: all 11s;
      -ms-transition: all 11s;
      -o-transition: all 11s;
      transition: all 11s;
    }
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  #portfolio {
    margin: 20px;
    .portfolio-brands {
      .brands {
        border-bottom: 1px solid var(--lightgrey);
      }
    }
  }
}

@media (max-width: 767px) {
  #portfolio {
    margin: 20px;
    .portfolio-brands {
      .brands {
        border-bottom: 1px solid var(--lightgrey);
      }
    }
  }
}
