#resume {
  margin-top: 50px 80px;
  .resume-card {
    border: 0;
    border-radius: 20px;
    padding: 40px 70px;
    .resume-heading,
    h6 {
      color: var(--orange);
      font-weight: 600;
    }
    .circle {
      border: 4px solid var(--orange);
      padding: 15px;
      margin-right: 10px;
      border-radius: 100px;
    }
    h2 {
      font-weight: 700;
    }
    h5 {
      font-weight: 700;
      margin-bottom: 4px;
    }
    .progress-bar-time {
      margin-top: 50px;
      h4 {
        font-weight: 700;
      }
      .progress {
        background: #eaeaea;
        justify-content: flex-start;
        border-radius: 100px;
        align-items: center;
        position: absolute;
        margin-top: 2px;
        display: flex;
        height: 7px;
        padding: 2px 10px;
        width: 340px;
      }

      .progress-value {
        animation: load 3s normal forwards;
        box-shadow: 0px 0px 10px rgba(164, 92, 33, 0.194);
        border-radius: 100px;
        background: var(--orange);
        height: 5px;
        width: 0;
      }
      .progress-value-efficiency {
        animation: load-1 3s normal forwards;
        box-shadow: 0px 0px 10px rgba(164, 92, 33, 0.194);
        border-radius: 100px;
        background: var(--orange);
        height: 5px;
        width: 0;
      }
      .percentage {
        margin-top: -18px;
        margin-left: 20px;
      }
      @keyframes load {
        0% {
          width: 0;
        }
        100% {
          width: 68%;
        }
      }
      @keyframes load-1 {
        0% {
          width: 0;
        }
        100% {
          width: 58%;
        }
      }
    }
    .progress-bar-rounded {
      position: relative;
      margin-top: 50px;
      h4 {
        font-weight: 700;
      }
      .progress {
        background: #fff;
        justify-content: flex-start;
        border-radius: 100px;
        align-items: center;
        position: absolute;
        margin-top: 2px;
        display: flex;
        height: 7px;
        padding: 2px 10px;
        width: 150px;
        height: 150px;
        border-radius: 100px;
        border: 8px solid #eaeaea;
      }

      .progress-value {
        animation: load1 10s linear forwards;
        box-shadow: 0px 0px 10px rgba(164, 92, 33, 0.194);
        border-radius: 100px;
        background: #fff;
        width: 160px;
        height: 160px;
        border: 8px solid var(--orange);
        position: absolute;
        left: -5px;
        top: -3px;
      }
      .progress-value-efficiency {
        animation: load-1 3s linear forwards;
        box-shadow: 0px 0px 10px rgba(164, 92, 33, 0.194);
        border-radius: 100px;
        background: var(--orange);
        height: 5px;
        width: 0;
      }
      .percentage {
        margin-top: -18px;
        margin-left: 20px;
      }
      @keyframes load {
        0% {
          width: 0;
        }
        100% {
          width: 68%;
        }
      }
      @keyframes load-1 {
        0% {
          width: 0;
        }
        100% {
          width: 58%;
        }
      }
      @keyframes load1 {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(180deg);
        }
      }
    }
  }
}

@media (max-width: 992px) and (max-width: 768px) {
  #resume {
    margin-top: 20px;
    .resume-card {
      padding: 20px;
      .progress-bar-time {
        .progress {
          width: 310px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #resume {
    margin-top: 20px;
    .resume-card {
      padding: 20px;
      .progress-bar-time {
        .progress {
          width: 310px;
        }
      }
    }
  }
}
