#contact {
  margin: 80px;
  margin-bottom: 100px;
  .contact-card {
    margin-top: 50px;
    border: 0;
    border-radius: 20px;
    padding: 0px 50px;
    .contact-heading,
    h6 {
      color: var(--orange);
      font-weight: 600;
    }
    .custom-contact-btn {
      background-color: var(--orange);
      text-align: center;
      width: 50px;
      height: 50px;
      padding: 10px;
      border-radius: 100%;
      h3 {
        font-size: 35px;
        svg {
          color: var(--white);
        }
      }
    }
    .social-link {
      font-size: 30px;
      color: var(--grey);
      transition: 0.3s all ease;
      &:hover {
        color: var(--orange);
        margin-top: -5px;
        transform: scale(1.2);
      }
    }
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  #contact {
    margin: 20px;
    .contact-card {
      padding: 20px;
      margin-top: 0;
    }
  }
}

@media (max-width: 767px) {
  #contact {
    margin: 40px 20px;
    .contact-card {
      padding: 0;
      margin-top: 0;
    }
  }
}
