.header {
  padding: 10px;
  h1 {
    color: var(--orange);
    font-weight: 700;
  }
  .menu-btn {
    padding: 10px 30px;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s linear;
    cursor: pointer;
    &:hover {
      color: var(--orange);
      transform: scale(1.3);
      font-weight: 700;
    }
  }
  .menu {
    align-self: center;
    ul {
      display: flex;
      list-style: none;
      li {
        padding: 0 15px;
        font-weight: 700;
        color: var(--orange);
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
          color: var(--primary);
          &::before {
            content: "";
            background-color: var(--primary);
            width: 30px;
            height: 3px;
            position: absolute;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    .menu-btn {
      padding: 10px;
      font-size: 14px;
    }
    .mobile-header {
      width: 100%;
    }
  }
}
