.header{
    padding: 10px;
    h1{
        color: var(--orange);
        font-weight: 700;
    }
    .menu{
        align-self: center;
        ul{
            display: flex;
            list-style: none;
            li{
                padding: 0 15px;
                font-weight: 700;
                color: var(--orange);
                text-transform: uppercase;
                &:hover{
                    cursor: pointer;
                    color: var(--primary);
                    &::before{
                        content: '';
                        background-color: var(--primary);
                        width: 30px;
                        height: 3px;
                        position: absolute;
                        margin-top: 30px;
                    }
                }
                

            }
        }
    }
}